<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1000072" android:versionName="1.0.44" package="com.inteliclinic.neuroon" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.inteliclinic.neuroon.NeuroonApplication" android:allowBackup="true" android:hardwareAccelerated="true" android:supportsRtl="true">
        <activity android:label="@string/app_name" android:name="com.inteliclinic.neuroon.activities.LauncherActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.inteliclinic.neuroon.activities.MainActivity" android:screenOrientation="portrait"/>
        <receiver android:name="com.inteliclinic.neuroon.receivers.AlarmReceiver" android:enabled="true" android:exported="true"/>
        <service android:name="com.inteliclinic.neuroon.service.NeuroonService" android:enabled="true" android:exported="true"/>
        <receiver android:name="com.inteliclinic.neuroon.receivers.BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="io.fabric.ApiKey" android:value="bc8172811704d1e8f9fb1031c3f564e5dda536e3"/>
        <activity android:theme="@style/CustomDialogTheme" android:name="com.inteliclinic.neuroon.activities.AlarmDialogActivity" android:screenOrientation="portrait" android:showOnLockScreen="true"/>
        <activity android:name="com.inteliclinic.neuroon.activities.JetLagPlannerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inteliclinic.neuroon.activities.FirstSetUpActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme" android:name="com.inteliclinic.neuroon.activities.TherapyActivity" android:screenOrientation="portrait" android:parentActivityName="com.inteliclinic.neuroon.activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.inteliclinic.neuroon.activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme" android:name="com.inteliclinic.neuroon.activities.PairMaskActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inteliclinic.neuroon.activities.MaskUpdateActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme" android:name="com.inteliclinic.neuroon.activities.MaskSynchronizationActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:parentActivityName="com.inteliclinic.neuroon.activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.inteliclinic.neuroon.activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme" android:name="com.inteliclinic.neuroon.activities.EventDetailsActivity" android:screenOrientation="portrait" android:parentActivityName="com.inteliclinic.neuroon.activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.inteliclinic.neuroon.activities.MainActivity"/>
        </activity>
        <activity android:name="com.inteliclinic.neuroon.activities.ReadLogsActivity"/>
        <activity android:theme="@style/IntercomSDK_PanelTheme" android:name="io.intercom.android.sdk.activities.MainActivity" android:exported="false" android:launchMode="singleTop" android:configChanges="orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateUnchanged|adjustResize"/>
        <activity android:theme="@style/IntercomSDK_AttachmentTheme" android:name="io.intercom.android.sdk.attachments.AttachmentActivity" android:exported="false" android:configChanges="orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateUnchanged|adjustResize"/>
        <activity android:theme="@style/IntercomSDK_AttachmentTheme" android:name="io.intercom.android.sdk.conversation.lightbox.LightboxActivity" android:exported="false" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="io.intercom.android.sdk.activities.TestActivity" android:exported="false"/>
        <receiver android:name="com.inteliclinic.neuroon.mask.bluetooth.BluetoothStateChangedReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:name="com.google.android.gms.measurement.AppMeasurementContentProvider" android:exported="false" android:authorities="com.inteliclinic.neuroon.google_measurement_service"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
    </application>
</manifest>
